<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Моделирование угроз безопасности ПДн</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link th:href="@{/styles/cred-form.css}" rel="stylesheet">
</head>
<div th:insert="fragments.html :: header"></div>
<body>
<div class="container">
    <form class="cred-form">
        <h1 th:text="${response.code}"></h1>
        <h2 th:text="${response.message}"></h2>
    </form>
</div>
</body>
</html>