<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Моделирование угроз безопасности ПДн</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link th:href="@{/styles/cred-forms.css}" rel="stylesheet">
</head>
<div th:insert="fragments.html :: header"></div>
<body>
    <div class="container">
        <form th:action="@{/password-changing/} + ${code}" th:method="post" th:object="${request}" class="cred-forms">
            <h1>ПРИДУМАЙТЕ ПАРОЛЬ</h1>
            <input th:field="*{password}" type="password" placeholder="Пароль"/>
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            <input th:field="*{duplicatePassword}" type="password" placeholder="Повторите пароль"/>
            <div style="color:red" th:if="${#fields.hasErrors('duplicatePassword')}" th:errors="*{duplicatePassword}"></div>
            <input type="submit" value="Подтвердить">
        </form>
    </div>
</body>
</html>